<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'task/css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'task/css/tasks.css' %}">
    <link rel="stylesheet" href="{% static 'task/css/task_form.css' %}">
    <link rel="stylesheet" href="{% static 'task/css/task_info.css' %}">
    <link rel="stylesheet" href="{% static 'task/css/comment.css' %}">
    <link rel="stylesheet" href="{% static 'task/css/comment_form.css' %}">
    <link rel="stylesheet" href="{% static 'task/css/comment_info.css' %}">

    <link rel="stylesheet" href="{% static 'user/css/login.css' %}">
    <link rel="stylesheet" href="{% static 'user/css/profile.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500;600;900&display=swap" rel="stylesheet">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<div class="container">
    <ul class="navigation-panel">
        <li class="header-item">
            <a class="nav-link" aria-current="page" href="{% url 'all-task' %}">Task</a>
        </li>
        <li class="header-item">
            <a class="nav-link" href="{% url 'info' %}">Profile</a>
        </li>
        <li class="header-item">
            <a class="nav-link" href="{% url 'all-task' %}">Category</a>
        </li>
        <li class="header-item">
            <a class="nav-link" href="{% url 'all-comment' %}">Comment</a>
        </li>
        <li class="header-item">
            <a class="nav-link" href="{% url 'create-task' %}" tabindex="-1">Add Task</a>
        </li>
    </ul>
    {% block content %}

    {% endblock %}
</div>
</body>
</html>
